body {
  font-family: 'Jua', sans-serif;
  background-image: url(./images/20168625_rm450-61-hdwallpaper.jpg);
}
.wrapper {
  margin: 0 auto;
  width: 1000px;
  text-align: center;
  color: white;
  font-size: 35px;
  padding-top: 100px;
}
.merry {
  width: 750px;
  margin: -30px;
}
audio {
  opacity: 0.1;
}